@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/navi";
@import "partials/aboutus";
@import "partials/contact";
@import "partials/login";
@import "partials/main";
@import "partials/ourproduct";
@import "partials/register";
@import "partials/extras";
