.aboutus {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 390px;

  div {
    margin-bottom: 3rem;
  }

  h3 {
    margin-bottom: 5px;
  }

  h4 {
    margin-bottom: 2px;
    margin-top: 10px;
  }
}
