.aboutus {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 390px;
}

.aboutus div {
  margin-bottom: 3rem;
}

.aboutus h3 {
  margin-bottom: 5px;
}

.aboutus h4 {
  margin-bottom: 2px;
  margin-top: 10px;
}
