.contact {
  display: flex;
  flex-direction: column;

  min-height: 390px;
  padding: 2rem;

  .form {
    &__container {
      max-width: 450px;
    }
  }
  &__input {
    width: 100%;
    height: 36px;
    margin-top: .5rem;

    border: 1px solid rgb(137, 151, 155);
    border-radius: 4px;
    outline: none;
  }

  &__text {
    width: 100%;
    min-height: 100px !important;
    margin-top: .5rem;

    border: 1px solid rgb(137, 151, 155);
    border-radius: 4px;
    outline: none;

    resize: none;
  }

  &__button {
    margin-top: 20px;
  }
}

.contact h3 {
  margin-bottom: 1rem;
}
