.contact {
  display: flex;
  flex-direction: column;
  min-height: 390px;
  padding: 2rem;

  &__input {
    height: 36px;
    width: 350px;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(137, 151, 155);
    outline: none;
  }

  &__text {
    height: 100px;
    width: 500px;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(137, 151, 155);
    outline: none;
    resize: none;
  }

  &__button {
    height: 32px;
    width: 70px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(207, 207, 207);
  }
}

.contact h3 {
  margin-bottom: 1rem;
}
