@media (max-width: 767px) {
  .video__title {
    width: 80%;
  }

  main {
    margin-top: 2rem !important;
    padding: 1rem;
  }

  .navi__logo {
    width: 50px;
    margin-right: 1rem;
  }

  .navi__list__item {
    margin-right: 1rem;

    font-size: 15px;
    text-align: center;
  }

  .navi__list__item--login {
    margin-right: 1rem;

    font-size: 15px;
  }

  .main__title h1 {
    font-size: 25px;
    text-align: center;
  }

  .main__title h2 {
    font-size: 20px;
    text-align: center;
  }

  .main__company-stats h2 {
    font-size: 18px;
    text-align: center;
  }

  .main__product {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .main__product__unit-text {
    flex-direction: column;

    max-width: 60%;
    padding: 1rem;

    text-align: center;

    @include flexCenter;
  }

  .main__product__unit {
    display: flex;
    flex-direction: column;
    p {
      width: auto;
      margin: 0;
      margin-bottom: .5rem;
    }
    img {
      margin-top: 3.6rem;
      margin-bottom: 2.2rem;
    }
  }

  .ourproduct {
    &__banner {
      h1 {
        font-size: 30px;
      }
      h3 {
        font-size: 25px;
      }
      img {
        width: 100%;
      }
    }
    &__integrations__check {
      display: none;
    }
  }
}

@media (max-width: 580px) {
  body {
    overflow-x: visible;
  }

  header {
    display: none;
  }

  main {
    margin-top: 1rem !important;
    padding: 1rem;
  }

  .main__title {
    margin-top: 1rem;
  }

  .main__title h1 {
    font-size: 25px;
    text-align: center;
  }

  .main__title h2 {
    font-size: 20px;
    text-align: center;
  }

  .navi__logo {
    margin: 0;
    margin-left: 10px;
  }

  .navi__burger-menu {
    display: flex;

    margin-right: 30px;
  }

  .navi__list {
    display: none;
  }

  .navi__log-container {
    display: none;
  }

  .main__company-stats {
    flex-direction: column;

    margin-bottom: 0;
  }

  .main__company-stats div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 1rem;
  }

  .main__company-stats h2 {
    font-size: 15px;
  }

  .main__product {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .main__product__unit {
    flex-direction: column;

    margin-bottom: 1.5rem;
  }

  .main__product__unit p {
    width: auto;
    margin-bottom: .5rem;
  }

  .main__product__unit-text {
    display: flex;
    flex-direction: column;

    max-width: 80%;

    text-align: center;
  }

  .mpu-reverse {
    flex-direction: column-reverse;
  }
  .footer {
    &__logo {
      overflow: hidden;

      max-width: 200px;
      max-height: 200px;

      img {
        object-fit: fill;
      }
    }

    &__nav {
      min-height: 200px;
      margin-left: 1rem;

      li {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }

    &__social-media {
      display: flex;

      img {
        width: 25px;
        height: 25px;
      }

      a {
        margin-right: .2rem;
      }
    }
  }
}
