.footer {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
}

.footer a {
  color: #f2f2f2;
  margin-left: 1rem;
}

.footer__logo {
  display: flex;
  height: 350px;
  align-items: center;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

.footer__nav li {
  margin-top: 2rem;
  font-size: 1rem;
}

.footer__social-media img {
  height: 50px;
  width: 50px;
}

.footer__social-media a {
  margin-right: 1rem;
}
