.footer {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;

  &__logo {
    display: flex;
    height: 350px;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;

    li {
      margin-top: 2rem;
      font-size: 1rem;
    }
  }

  a {
    color: #f2f2f2;
    margin-left: 1rem;
  }

  &__social-media img {
    height: 50px;
    width: 50px;
  }

  &__social-media a {
    margin-right: 1rem;
  }
}
