* {
  overflow-x: hidden;

  margin: 0;
  padding: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

body {
  overflow-x: visible;

  background-color: white;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 1rem;
}

.video {
  position: relative;

  margin-top: -20px;
  &__container {
    display: block;
    iframe {
      min-width: 100%;
      height: 56vw;
      min-height: 100%;

      border: none;

      pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    height: 100%;
    max-height: 720px;
    margin-left: 2rem;
    padding-left: 20px;

    color: white;
    text-transform: uppercase;
  }
}
