* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
  overflow-x: visible;
}

main {
  padding: 1rem;
}

.video {
  position: relative;
}

.video__container iframe {
  height: 56vw;
  min-height: 100%;
  min-width: 100%;
  pointer-events: none;
  border: none;
}

.video__title {
  position: absolute;
  color: white;
  text-transform: uppercase;
  width: 100%;
  top: 0;
  height: 100%;
  max-height: 720px;
  display: flex;
  padding-left: 20px;
  justify-content: start;
  align-items: center;
  margin-left: 2rem;
}
