.loginmain {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 600px;
}

.login {
  &__container {
    margin: 0;
  }
}
.loginleft {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  &__input {
    width: 100%;
    height: 36px;
    margin-top: .5rem;
    padding: 1rem;

    border: 1px solid rgb(137, 151, 155);
    border-radius: 4px;
    outline: none;
  }

  &__button {
    width: 90px;
    height: 32px;
    margin: 20px 0;

    border-radius: 4px;
    background-color: rgb(207, 207, 207);

    font-size: 15px;
  }

  h1 {
    text-align: center;
  }
}

.loginright {
  margin: 0;
  padding: 2rem;

  background: url('./../images/login.png');
  background-position: center;
  background-size: 90%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .863);

  color: #F2F2F2;

  a {
    color: #F2F2F2;
    text-decoration: underline;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 10px;
  }
}
