.loginmain {
  display: flex;
  justify-content: space-between;
  min-height: 800px;
}

.loginmain form {
  width: 80%;
  margin-top: 2rem;
}

.loginleft {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  padding: 1rem;

  &__input {
    height: 36px;
    width: 90%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(137, 151, 155);
    outline: none;
  }

  &__button {
    height: 32px;
    width: 90px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(207, 207, 207);
    margin-left: 1rem;
  }
}

.loginright {
  display: flex;
  background-image: url("../../images/login.png");
  background-position: center;
  background-size: 90%;
  width: 75%;
  color: #f2f2f2;
  padding: 2rem;

  a {
    text-decoration: underline;
    color: #f2f2f2;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 10px;
  }
}
