.main {
  flex-direction: column;
  margin-top: 2rem;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.main__title h2 {
  margin-bottom: 10px;
}

.main__company-stats {
  margin-top: 4rem;
  margin-bottom: 0rem;
  text-align: center;
}

.main__company-stats h2 {
  max-width: 90%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.main__company-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__company-stats img {
  margin-bottom: 1rem;
  height: 120px;
  width: 120px;
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.main__product {
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.main__product__unit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main__product__unit p {
  width: 600px;
  text-align: center;
}

.main__product__unit h2 {
  text-align: center;
}
