.main {
  flex-direction: column;
  margin-top: 2rem;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 0rem;
    text-align: center;

    h2 {
      margin-bottom: 10px;
    }
  }

  &__company-stats {
    margin-top: 4rem;
    margin-bottom: 0rem;
    text-align: center;

    h2 {
      max-width: 90%;
      animation-name: scale;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      margin-bottom: 1rem;
      height: 120px;
      width: 120px;
    }
  }

  &__product {
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 5rem;

    &__unit {
      @include flexCenter;

      p {
        width: 600px;
        text-align: center;
      }

      h2 {
        text-align: center;
      }

      img {
        height: 300px;
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
