.navi {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(202, 202, 202);
  min-height: 90px;

  ul {
    margin: 0;
  }

  a {
    color: #343434;
    font-weight: bold;
  }

  &__burger-menu {
    display: none;
  }

  &__logo {
    margin-right: 6rem;
    margin-left: 1rem;
  }

  &__list {
    &__item {
      margin-right: 10rem;
      transition: 0.5s;
      text-decoration: none;

      &--login {
        margin-right: 3rem;
        transition: 0.5s;
      }

      &--login:hover {
        color: rgba(0, 0, 0, 0.4);
      }
    }

    &__item:hover {
      color: rgba(0, 0, 0, 0.4);
      text-decoration: none;
    }
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" -25, "opsz" 48;
}
