.ourproduct {
  &__banner {
    margin-top: 3rem;

    h1 {
      margin-bottom: 1rem;
    }

    img {
      margin-top: 1rem;
    }
  }

  &__integrations {
    margin-bottom: 4rem;

    h1 {
      width: 100%;
    }

    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
    }

    &__check {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;
      margin-left: 1rem;

      img {
        width: 20px;
      }
    }
  }
}
