.register {
  &__container {
    min-height: 600px;

    input {
      padding-left: 10px;
    }
  }

  &__text {
    width: 70%;

    p {
      width: 50%;
      margin-top: 4rem;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-top: 3rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: 10%;

    h1 {
      margin-bottom: 2rem;
    }
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    height: 36px;
    width: 350px;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid rgb(137, 151, 155);
    outline: none;
  }

  &__button {
    height: 32px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(207, 207, 207);
  }
}
